@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --green:#39cc5d;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', 'Amazon Ember', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
    border-radius: 5rem;
}

body{
    background:var(--bg-color-2);
}

body.active{
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#333;
    --bg-color-2:#222;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

.catig {
    list-style: none;
    cursor: pointer;
}
.sz {
    width: 20rem;
    height: 20rem;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--text-color-1);
    font-size: 4rem;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    z-index: -1;
    background: var(--green);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}


/* Loader */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 80px;
    height: 80px;
    padding-left: 0;
  }
  .loader:after {
    content: ' ';
    display: block;
    width: 68px;
    height: 68px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #39cc5d;
    border-color: #39cc5d transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:var(--green);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.header .logo i{
    color:var(--green);
}

.header .search-form{
    background:var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width:50rem;
}

.header .search-form input{
    height:100%;
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.5rem;
    color:var(--text-color-1);
    padding:1rem;
}

.header .search-form label{
    font-size: 2rem;
    margin-right: 1.5rem;
    color:var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--green);
}

.header .icons div{
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background:var(--bg-color-2);
    color:var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    color:#fff;
    background:var(--green);
}

#search-btn{
    display:none;
}

.header .navbar{
    position:absolute;
    top:115%; right:7%;
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:25rem;
    transform:scale(0);
    transform-origin: top right;
}

.header .navbar.active{
    transform:scale(1);
}

.header .navbar a{
    display:block;
    margin:1rem;
    padding:1rem;
    font-size: 1.5rem;
    color:var(--text-color-1);
    border-radius: .5rem;
}

.header .navbar a:hover{
    color:var(--green);
    background:var(--bg-color-2);
    padding-left: 2rem;
}

.header .login-form{
    position:absolute;
    top:115%; right:7%;
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    padding: 2rem;
    transform:scale(0);
    transform-origin: top right;
}

.header .login-form.active{
    transform:scale(1);
}

.header .login-form .inputBox{
    margin-bottom: 1rem;
}

.header .login-form .inputBox span{
    font-size: 1.7rem;
    color:var(--text-color-2);
}

.header .login-form .inputBox input{
    font-size: 1.5rem;
    color:var(--text-color-1);
    border-radius: .5rem;
    padding:1rem;
    background:var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin:.5rem 0;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap:.5rem;
    padding:.5rem 0;
}

.header .login-form .remember label{
    color:var(--text-color-2);
    font-size: 1.5rem;
    cursor: pointer;
}

.header .login-form .btn{
    width:100%;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 7rem;
}

.overfolw {
    overflow: hidden;
}

.hoteldetail{

}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    color:var(--text-color-1);
    font-size: 4rem;
}

.home .content p{
    color:var(--text-color-2);
    font-size: 1.7rem;
    line-height: 1.7;
    padding:1rem 0;
}

.form-container form{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
}

.form-container form .inputBox{
    flex:1 1 23rem;
}

.form-container form .inputBox span{
    font-size: 1.7rem;
    color:var(--text-color-2);
}

.form-container form .inputBox input{
    font-size: 1.5rem;
    color:var(--text-color-1);
    background:var(--bg-color-2);
    border-radius: .5rem;
    margin:.5rem 0;
    text-transform: none;
    width: 100%;
    padding:1rem;
}

.form-container form .btn{
    flex:1 1 23rem;
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    
} 

.space {
    margin-top: 7rem;
}

.bottomSpace {
    margin-bottom: 4rem;
} 

.packages .box-container .box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.packages .box-container .box .image{
    height:25rem;
    width: 100%;
    padding:1.5rem;
    position: relative;
}

.packages .box-container .box .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image h3{
    position: absolute;
    top:2.5rem; left:2.5rem;
    font-size: 2rem;
    color:#fff;
    background: rgba(0,0,0,.5);
    border-radius: .5rem;
    font-weight: lighter;
    padding:.5rem 1.5rem;
}

.packages .box-container .box .image h3 i{
    color:var(--green);
}

.packages .box-container .box .content{
    padding:1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content .price{
    font-weight: 600;
    color:var(--text-color-1);
    font-size: 2.5rem;
}

.packages .box-container .box .content .price span{
    font-weight: lighter;
    color:var(--text-color-2);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    padding:.5rem 0;
    color:var(--text-color-2);
    line-height: 1.7;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    padding:2rem;
}

.services .box-container .box span{
    position: absolute;
    top:.5rem; right:2rem;
    color:var(--text-color-2);
    font-weight: bolder;
    font-size: 5rem;
}

.services .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color:#fff;
    background: var(--green);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.services .box-container .box h3{
    color:var(--text-color-1);
    font-size: 2.3rem;
    padding:.7rem 0;
}

.services .box-container .box p{
    color:var(--text-color-2);
    font-size: 1.5rem;
    line-height: 1.8;
}

.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.pricing .box-container .box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    text-align: center;
}

.pricing .box-container .box h3{
    padding:1rem;
    background: var(--bg-color-2);
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--text-color-1);
}

.pricing .box-container .box .price{
    padding-top: 2rem;
}

.pricing .box-container .box .price span{
    font-size: 2rem;
    color:var(--text-color-2);
}

.pricing .box-container .box .price .amount{
    font-size: 5rem;
    color:var(--text-color-1);
    font-weight: bolder;
}

.pricing .box-container .box ul{
    padding: .5rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    padding: 1rem 0;
    font-size: 1.7rem;
    color:var(--text-color-2);
}

/* Pagination */
.page-item.active .page-link {
  background-color: var(--green);
  border-color: var(--green);
}
.page-link {
  color: var(--green);

}

.font-size {
    font-size: 1.7rem;
    font-weight: 400;
}

.font-color {
    color: var(--green);
}
.page-link:hover {
  color: var(--green);
}



/* Ratings */

.rating-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: var(--green);
    font-size: 2rem;
}
  
.rating-outer::before {
    content: '\f006 \f006 \f006 \f006 \f006';
}
  
.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
  
.rating-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    color: var(--green);
}
.review .review-slider{
    box-shadow: var(--box-shadow);
}

.review .review-slider .slide{
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}

.review .review-slider .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .review-slider .slide h3{
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.review .review-slider .slide p{
    font-size: 1.6rem;
    color:var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

/* .review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
} */

.review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i{
    font-size: 2rem;
    color:var(--green);
}

.stars i{
    font-size: 2rem;
    color:var(--green);
}
.map-container {
    height: 400px;
}

.marker {
    background-image: url('./pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
  }
/* .stars--act i{
  fill: #55c57a;
  font-size: 2rem;
}
.stars--inact i{
  fill: #bbb;
  font-size: 2rem;
} */

.swiper-pagination-bullet-active{
    background: var(--green);
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form textarea,
.contact form .inputBox input{
    width: 100%;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--text-color-1);
    margin:.7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: .5rem;
}

.form-email {
    text-transform: lowercase;
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .inputBox input{
    width: 49%;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.blogs .box-container .box .image{
    height: 20rem;
    width: 100%;
    overflow:hidden;
    border-radius: .5rem;
    background: var(--bg-color-2);
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform:scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content h3{
   font-size: 2rem;
   color:var(--text-color-1);
   line-height: 1.5;
}

.blogs .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid var(--text-color-2);
    margin-top: 2rem;
    padding-top: 1.5rem;
}

.blogs .box-container .box .content .icons a{
    font-size: 1.5rem;
    color:var(--text-color-2);
}

.blogs .box-container .box .content .icons a:hover{
    color:var(--green);
}

.blogs .box-container .box .content .icons a i{
    padding-right: .5rem;
    color:var(--green);
}

/* Admin Sidebar */

.sidebar-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
    font-weight: normal;
  
    margin-top: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
#sidebar {
    min-width: 100%;
    max-width: 100%;
    background: #232f3e;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #232f3e;
}
#sidebar ul.components {
    padding: 5px 0px;
    border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #232f3e;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
    color: #fff;
    background: #232f3e;
}
a[data-toggle='collapse'] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
  
ul ul a {
    font-size: 1rem !important;
    padding-left: 30px !important;
    background: #232f3e;
}
  
ul.CTAs {
    padding: 20px;
  }
  
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card {
    height: 100%;
}

.bd {
    border: none;
}
.card-title a {
    color: #2e2e2e;
}

.card-title a:hover {
    color: var(--green);
    text-decoration: none;
}

.card-body {
    padding-left: 0;
}

.card-text {
    font-size: 1.4rem;
}
.card-font-size {
    font-size: 1.5rem;
}

/*login wrapper**/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 5rem;
    font-weight: 700;
}

.wrapper form {
    padding: 2.5rem 3rem;
}
/*avarter*/

/* Avatar */
.avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatar-profile {
    height: 16rem;
    width: 16rem;
}
  
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.rounded-circle {
    border-radius: 50% !important;
}
  

.footer{
    background: var(--bg-color-1);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--text-color-1);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--text-color-2);
    padding:1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding:1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color:var(--text-color-2);
}

.footer .credit span{
    color:var(--green);
}




.form-control:enabled,
.form-control[readonly] {
  background-color: white;
}

.imagepreview {
    margin-top: 4px;
    margin-right: 2px;
    height: 52px;
    width: 55px;
}




/* Checkout Steps */

.checkout-progress div {
    box-sizing: border-box;
}
  
.checkout-progress {
    display: block;
    clear: both;
    margin: 20px auto;
    width: auto;
    font-family: sans-serif;
    overflow: auto;
}

.step {
    margin: 0;
    border: 0;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 5px 10px 5px 15px;
    color: grey;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
    float: left;
    height: auto;
}

.incomplete {
    background: #eeeeee;
}

.active-step {
    background: var(--green);
    color: #fff;
}

.triangle-active {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid var(--green);
    border-bottom: 20px solid transparent;
    margin-left: -1px;
}

.triangle2-active {
    width: 0;
    float: left;
    border-top: 20px solid var(--green);
    border-left: 15px solid #fff;
    border-bottom: 20px solid var(--green);
    margin-right: -1px;
}

.triangle-incomplete {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #eeeeee;
    border-bottom: 20px solid transparent;
    margin-left: -1px;
}

.triangle2-incomplete {
    width: 0;
    float: left;
    border-top: 20px solid #eeeeee;
    border-left: 15px solid #fff;
    border-bottom: 20px solid #eeeeee;
    margin-right: -1px;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    .header .navbar{
        right: 2rem;
    }

    .header .login-form{
        right: 2rem;
    }

    #search-btn{
        display:inline-block;
    }

    .header .search-form{
        position: absolute;
        top:115%; right: 2rem;
        background:var(--bg-color-1);
        border-radius: .5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform:scale(0);
        transform-origin: top right;
    }

    .header .search-form.active{
        transform:scale(1);
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}
